.button {
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 50px;
    border: 0 !important;
    outline: 0 !important;
    background-color: #000000;
    color: #FFFFFF;
    text-transform: capitalize;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: all .3s ease-in-out;
    height: min-content;
    white-space: nowrap;
}

.button:hover {
    transition: all .3s ease-in-out;
    background-color: #48b14d;
}


.download {
    padding-right: 0;
}
.download:hover {
    padding-right: 25px !important;
}
.download:hover i.fa-download {
    transition: all .3s ease-in-out;
    padding-left: 15px;
    color: #FFFFFF;
}
i.fa-download {
    font-size: 20px !important;
    padding-left: 4px;
    transition: all .3s ease-in-out;
    color: #000000;
}


.sendBtn:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: #000000;
    opacity: .5;
}