.contacts {
    width: min-content;
}

.footer-center {
    margin-inline: auto;
}

.fa {
    font-size: 30px !important;
    -o-transition: 3s;
    transition: all .3s ease-in-out;
}

.contacts a:hover:nth-child(1) {
    cursor: pointer;
    color: #0e76a8;
}
.contacts a:hover:nth-child(3) {
    cursor: pointer;
    color: #00acee;
}
.contacts a:hover:nth-child(4) {
    cursor: pointer;
    color: #3b5998;
}

.contacts a {
    margin-right: 35px;
}

.contacts a:last-child {
    margin: 0;
}